<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>REGISTER</title>
        <style>
            body{ background: skyblue; font-family: Verdana; color: #fff; padding: 30px; }
            h1{ font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center; }
            p{ font-size:  16px; text-align: center; }
        </style>
    </head>
    <body>
            <% include partials/navbar.ejs %>
            <h1>Welcome to my register ID </h1>
        <!-- <h1>Welcome to my register ID <%= id %></h1>
        <p>I want to do</p>
        <p>Name: <%= information.name %></p>
        <p>Age: <%= information.age%></p>
        <p>Email: <%= information.email%></p>

        <h2>Hobbies</h2>
        <ul>
            <% information.hobbies.forEach(function(Items) { %>
                <li><%= Items %></li>
            <%  }); %>
        </ul> -->
    </body>
</html>